body {
	background-color: black;
	margin: 0px;
}

h1 {
	color: white;
	font-size: 40px;
	text-shadow: 3px 1px 0px black;
}

.nav-bar {
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75px;
}

.search {
	position: absolute;
	right: 100px;
}

input[type="text"] {
	padding: 10px;
	margin-right: 5px;
	font-size: 17px;
	border: 1px solid black;
	background-color: grey;
	border-radius: 10px;
}

.searchbutton {
	background-color: grey;
	position: absolute;
	border-radius: 20px;
	height: 40px;
	width: 40px;
}

.hamburger {
	position: absolute;
	left: 20px;
	font-size: 30px;
}

.hamburger i {
	color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

h2{
	text-align: left;
	margin: 50px;
	color: white;
}

.reccomended {
	display: flex;
	justify-content: center;
}

.container {
	border: solid 1px white;
	border-radius: 16px;
	height: 140px;
	width: 140px;
	margin: 15px;
}

.jaws {
	background: url(art/jaws.jpg);
}

.incred {
	background: url(art/i.jpeg)
}

.emoji {
	background: url(art/emoji.jpg)
}

.incred span {
	font-size: 20px;
}

.emoji span {
	font-size: 30px;
}

a {
	text-decoration: none;
}

.container:hover .darken  {
	background-color: black;
	border-radius: 15px;
	height: 140px;
	width: 140px;
	opacity: 60%;
	z-index: 1;
	display: flex;
	text-align: center;
}

.container:hover span {
	opacity: 1;
}

span {
	font-size: 50px;
	opacity: 0;
	margin: auto;
	z-index: 1;
	color: white;
}



